@model WebAppPOE.Models.UserTable
@{
    ViewData["Title"] = "Privacy Policy";
}

<style>
    body {
        background-image: url('/image/background2.webp');
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }
</style>


<div class="text-center">
    <h1 class="display-4">Login</h1>
    <p>If you don't have an account <a href="https://localhost:7032/Home/AboutUs">Sign Up</a> for a new account.</p>
</div>


<body>
    <form asp-controller="Login" asp-action="Privacy" method="post">
        <h2>Please enter your first name and email:</h2>
        <input type="text" name="name" placeholder="Name" required>
        <input type="text" name="email" placeholder="example@gmail.com" required>
        <button type="submit">Submit</button>
    </form>

</body>